*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: #333;
}
ul,ol,li,span,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
li{
    display:inline-block;
}
a{
    text-decoration: none;
}
/*Section Title Start*/
.section-title{
    margin-bottom: 50px;
}
.section-title h2{
    font-size: 35px;
    font-weight: 300;
    line-height: 1.1;
    font-family: inherit;
    color: #353535;
    margin: 0 0 20px 0;
}
.section-title p{
    font-size: 16px;
    line-height: 24px;
    color: #555;
    padding: 0 28%;
    margin-bottom: 0;
}
/*Section Title End*/

/*Header Starts Here*/

#header .top-header{
    background-color: #ffca36;
    line-height: 40px;
}

#header .top-header .top-header-info p{
    margin: 0;
}
#header .top-header .top-header-info span{
    font-size: 12px;
    font-weight: 400;
    color: #353535;
    padding: 3px;
    text-transform: capitalize;
}
#header .top-header .midle{
    background-color: #353535;
    height: 40px;
    line-height: 40px;
    transform: skew(-30deg, 0deg);
}
#header .top-header .midle .top-header-midle{
    transform: skew(30deg, 0deg);
}
#header .top-header .midle .top-header-midle p{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 40px;
}
#header .top-header .top-header-scl-cont{
    text-align: right;
}
#header .top-header .top-header-scl-cont ul.list-inline>li{
    padding: 0 5px 0 5px;
} 
#header .top-header .top-header-scl-cont ul li{
    margin-right: 5px;
}
#header .top-header .top-header-scl-cont ul li a{
    position: relative;
    text-align: center;
    display: block;
    height: 25px;
    width: 25px;
    color: #353535;
}
#header .top-header .top-header-scl-cont ul li a::before,
#header .top-header .top-header-scl-cont ul li a::after{
    position: absolute;
    content: '';
    transform: scale(0 ,1);
    transition: all .5s ease-in-out;
}
#header .top-header .top-header-scl-cont ul li a::before{
    width: calc(100% + 10px);
    height: 100%;
    left: -5px;
    top: 8px;
    border-bottom: 1px solid #353535;
    border-top: 1px solid #353535;
}
#header .top-header .top-header-scl-cont ul li a::after{
    right: 0;
    bottom: -13px;
    width: 100%;
    height: calc(100% + 10px);
    border-right: 1px solid #353535;
    border-left: 1px solid #353535;
    transform: scale(1 ,0);
}
#header .top-header .top-header-scl-cont ul li a:hover:before,
#header .top-header .top-header-scl-cont ul li a:hover::after{
    transform: scale(1, 1);
}

/*Nav Header Start*/
#header  .myusNav {
    position: static;
    top: -50px;
    background-color: #fff;
    height: 100px;
    background-color: #fff;
    z-index: 4;
}
#header .myusNav .logo{
    left: 0;
    transform:  initial;
}
#header .myusNav .container{
    position: relative;
}
#header  .myusNav  .myNavContent  ul.nav{
    margin-top: 10px;
    display: none;
    transition: .5s ease-in;
    transform: scale(1 ,0);
}
#header  .myusNav .myNavContent ul.menuActive{
    display: block;
    transform: scale(1, 1);
}
#header  .myusNav  .myNavContent ul.menuActive >li{
    margin: 0 10px;
    padding: 10px 0;
}
#header .myusNav .myNavContent ul.menuActive > li > a{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #353535 !important;
    line-height: normal;
    text-transform: capitalize;
    transition: all .3s linear;
}

#header  .myusNav  .myNavContent ul.menuActive > li:hover > a{
    color: #ffca36 !important;
}
#header  .myusNav  .myNavContent ul.menuActive > li > a::before{
    position: absolute;
     content: '';
     height: 100%;
     width: calc(100% + 10px);
     border-bottom: 1px solid #ffca36;
     border-top: 1px solid #ffca36;
     left: -5px;
     top: 0;
     transform: scale(1,0);
     transition: all .5s ease-in-out;
}
#header  .myusNav  .myNavContent ul.menuActive > li > a::after{
    position: absolute;
    content: '';
    width: 100%;
    height: calc(100% + 10px);
    left: 0;
    top: -4px;
    border-left: 1px solid #ffca36;
    border-right: 1px solid #ffca36;
    transform: scale(0,1);
    transition: all .5s ease-in-out;
}
#header .myusNav .myNavContent ul.menuActive > li > a:hover:before,
#header .myusNav .myNavContent ul.menuActive > li > a:hover:after{
    transform: scale(1,1);
}

#header .myusNav .myNavContent ul.menuActive > li > ul{
    background-color: #353535;
    width: calc(100% + 50px);
    border-top: 3px solid #ffca36;
}
#header .myusNav .myNavContent ul.menuActive > li > ul > li{
    display: block;
    margin: 0 0px;
    padding:  0;
    
}
#header .myusNav .myNavContent ul.menuActive > li > ul li a{
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    transition: all .3s linear;
}
#header .myusNav .myNavContent ul.menuActive > li > ul li a:hover{
    background-color: #969696;
}




#header .myusNav .myNavContent > ul li > ul.dropdown-item>li{
    margin: 0 2px;
    padding: 5px 0;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
}
#header  .myusNav .container .myNavContent .menuToggler{
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/*Nav Header End*/

/*Header Ends Here*/


/*Banner Section Start*/
.myusNav + section {
    margin-top: 121px;
}
#banner{
    height: 700px;
    position: relative;
}
#banner .slider_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 99;
    width: 100%;
}
#banner .slider_icon a.slick-arrow{
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#banner .slider_icon a.slick-arrow::before{
    position: absolute;
    content: '';
    height: 100%;
    width: calc(100% + 10px);
    left: -5px;
    top: 8px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: scale(1,1);
    transition: all .5s ease-in-out;
    border-color: #fff;
}
#banner .slider_icon a.slick-arrow::after{
    position: absolute;
    content: '';
    height: calc(100% + 10px);
    width: 100%;
    right: 0;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    bottom: -13px;
    transform: scale(1, 1);
    border-color: #fff;
}
#banner .slider_icon a.slick-arrow:hover:before,
#banner .slider_icon a.slick-arrow:hover:after{
    border-color: #ffca36;
}
#banner .slider_icon a.slick-arrow i{
    font-size: 35px;
    line-height: 60px;
    color: #fff;
    transition: all .5s ease-in-out;
}
#banner .slider_icon a.slick-arrow:hover i{
    color: #ffca36;
}
#banner .slider_icon .arrow_left{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
#banner .slider_icon .arrow_right{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
#banner .slider_icon .arrow_left a.icon_left{
    left: 10px;
}
.pogoSlider--navBottom .pogoSlider-nav {
    display: none;
}


#banner .pogoSlider{
    height: 100%;
}
#banner .pogoSlider .pogoSlider-slide{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top:50px;
}
#banner .pogoSlider .pogoSlider-slide .overly{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}
#banner .pogoSlider .pogoSlider-slide .slide-table{
    display: table;
    height: 100%;
    width: 100%;
    z-index: 2;
}
#banner .pogoSlider .pogoSlider-slide .slide-table .slide-table-cell{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif
}
#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner{
    color: #fff;
    width: 45%;
    top: 40%;
    left: 50px;
    transform: translateY(-68%);
    position: absolute;
}
#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner h1{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner h1 span{
   color: #ffca36;
   font-weight: 700;
}
#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner p{
    font-size: 15px;
    padding: 13px 30px 20px 0;
}
#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner .main_btn a{
    position: relative;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    padding: 14px 20px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    z-index: 1;
    transition: all .3s linear;
}
#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner .main_btn a:hover{
    color: #353535;
}
#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner .main_btn a::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    background-color: #ffca36;
    top: 0;
    left: 0;
    transition: all .3s linear;
    z-index: -1;
}

#banner .pogoSlider .pogoSlider-slide .slide-table
.slide-table-cell .slider-inner .main_btn a:hover:before{
    width: 100%;
}

.pogoSlider-progressBar {
    background: rgba(255, 202, 54, 0.6);
}
.pogoSlider-progressBar-duration {
    background: #ffc933;
}
.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn {
    top: 50%;
    margin-top: -10px;
    display: none;
}

/*Banner Section End*/


/*Service Section Start*/
#service{
    padding: 75px  0;
}
#service .slider-items .content{
    text-align: center;
    margin-top: 30px;
}
#service .slider-items .content .content-icons{
    position: relative;
    width: 108px;
    height: 108px;
    line-height: 108px;
    margin: 0px auto;
    background-color: #fff;
    text-align: center;
    border: 1px solid #4c4c4c;
    transform: rotate(45deg);
    transition:  all.3s ease;
}
#service .slider-items .content .content-icons::before{
    position: absolute;
    content: '';
    height: 40%;
    border-left: 2px dashed #353535;
    transform: rotate(-43deg);
    left: 119px;
    top: 100px;
    transition: all .3s ease;
}
#service .slider-items .content .content-icons:hover,
#service .slider-items .content .content-icons:hover:before{
    border-color: #ffd359;
}
#service .slider-items .content .content-icons img{
    display: inline-block;
    transform: rotate(-45deg);
}
#service .slider-items .content .content-text{
    margin: 64px 0px 0 25px;
    padding: 35px;
    border: 1px solid #333;
    transition: all  .3s linear;
}
#service .slider-items .content .content-text:hover{
    border-color:#ffd359;
    box-shadow: 0px 1px 2px 1px #999;
    transform:  scale(1.1);
}
#service .slider-items .content .content-text h4{
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    color: #353535;
    text-transform: uppercase;
    margin: 10px 0;
}
#service .slider-items .content .content-text p{
    font-size: 14px;
    color: #555;
    line-height: 24px;
    margin-bottom: 0;

}
/*Service Section End*/

/*About Section Start */
#about{
    padding: 48px 0;
}
#about .about-col{
    padding-left: 0;
}
#about .about-bg{
    background-position: left top;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height:440px;
    z-index: 1;
}
#about .about-bg::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}
#about .about-bg img{
    position: absolute;
    right: -164px;
}
#about .content{
    width: 92%;
}
#about .content h3{
    font-size: 35px;
    font-weight: 300;
    line-height: 1.1;
    color: #353535;
    margin-top: 0;
    margin-bottom: 20px;
}
#about .content .about-table .nav-table{
    border-bottom: 5px solid #ddd;
    padding: 7px 0;
    
}
#about .content .about-table .nav-table > li{
    margin: 0 20px;
}
#about .content .about-table .nav-table:first-child > li{
    margin-left: 0;
}

#about .content .about-table .nav-table > li > a{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #353535;
    border-style: none;
    text-transform: uppercase;
    position: relative;
}
#about .content .about-table .nav-table > li > a:first-child {
    padding-left: 0;
}
#about .content .about-table .nav-table > li > a::before,
#about .content .about-table .nav-table > li.active > a::before{
    width: 100%;
    position: absolute;
    content: '';
    height: 5px;
    background-color: #ffca36;
    bottom: -5px;
    left: 0;
    opacity: 1;
}
#about .content .about-table .nav-table > li > a::before{
    opacity: 0;
    transition: all .3s linear;
}
#about .content .about-table .nav-table > li:hover > a::before{
    opacity: 1;
}
#about .content .about-table .content-tab{
    padding: 25px 0 0 0;
}
#about .content .about-table .content-tab p{
    line-height: 24px;
    padding-bottom: 30px;
}
#about .content .about-table .content-tab p:first-child{
    padding-bottom: 35px;
}
#about .content .about-table .content-tab .main_btn a{
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    background-color: #ffca36;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-top: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 1;
    transition: all .3s linear;
}
#about .content .about-table .content-tab .main_btn a:hover{
    background-color: #f7f7f7;
    border-color: #ffca36;
    color: #ffca36;
}
/*About Section End */

/*Portfolio Section Start*/
#portfolio{
    padding: 42px 0 50px 0;
}
#portfolio .portfolio-slider .portfolio-item{
    margin: 5px 5px 50px 10px;
    position: relative;
}
#portfolio .portfolio-slider .portfolio-item .portfolio-content{
    
}
#portfolio .portfolio-slider .portfolio-item .portfolio-content .portfolio-img{
}
#portfolio .portfolio-slider .portfolio-item .portfolio-content .portfolio-overly{
    position: absolute;
    content: '';
    width: 100%;
    height:0%;
    left: 0;
    bottom: 0;
    padding-top: 80px;
    background-color: rgba(255, 202, 54, 0.74);
    opacity: 0;
    transition: all .4s ease;
    clip-path: polygon(0% 47%, 100% 0%, 100% 100%, 0% 100%);
    
}
#portfolio .portfolio-slider .portfolio-item:hover .portfolio-content .portfolio-overly{
    height: 50%;
    opacity: 1;
}
#portfolio .portfolio-slider .portfolio-item .portfolio-content .portfolio-overly h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 10px 0;
}
#portfolio .portfolio-slider .portfolio-item .portfolio-content .portfolio-img img{
    width: 100%;
}
/*Portfolio Section End*/

/*Blog Section Start*/
#blog{
    padding: 48px 0 20px  0;
    margin: 46px 0 0 0;
   
}
#blog .blog-slider{
    position: relative;
}
#blog .blog-slider .slider-arrow{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%) scale(1);
    z-index: 4;
    font-size: 30px;
    color: #333;
    left: -48px;
    text-align: center;
    height: 35px;
    width: 35px;
    border: 1px solid #353535;
    transition: all .5s ease-in-out;
    
}
#blog .blog-slider .slider-arrow:hover{
    color: #ffca36;
    border: 1px solid #ffca36;
    transform: translateY(-50%) scale(1.1);
}
#blog .blog-slider .slider-arrow.slider-arrow-left{
    right: 55px;
}
#blog .blog-slider .slider-arrow.slider-arrow-right{
    left: 100%;
}
#blog .blog-slider .slider-arrow i{
    
}
#blog .blog-slider .blog-item{
    position: relative;
    margin-top: 153px;
    border:  1px solid #fff;
    margin-bottom: -34px;
    margin-right: 20px;
      
}
#blog .blog-slider .blog-item:last-child{
    margin-left: 20px;  
}
#blog .blog-slider .slick-center .blog-item{
    transform: translateY(-125);
    border-color: #ddd;
    margin-top: 60px;
}
#blog .blog-slider .blog-item .blog-img{
    position: relative;
    z-index: 909;
    transition: all .3s linear;
    
}
#blog .blog-slider .slick-center .blog-item .blog-img{
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    transform: translateY(-10%);
}
#blog .blog-slider .blog-item .blog-img img{
    width: 100%;
}
#blog .blog-slider .blog-item .blog-img  .img_overlay{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.61);
    text-align: center;
    transition: all .3s linear;
}
#blog .blog-slider .slick-center .blog-item .blog-img .img_overlay{
    height: 100%;
}
#blog .blog-slider .blog-item .blog-img  .img_overlay a i{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #ffca36;
    color: #353535;
    font-size: 16px;
    border: 1px solid transparent;
    transition: all .3s linear;
    opacity: 0;
}
#blog .blog-slider .slick-center .blog-item .blog-img .img_overlay a i{
    opacity: 1;
}
#blog .blog-slider .slick-center .blog-item .blog-img .img_overlay a i:hover {
    color: #ffca36;
    background-color: transparent;
    border-color: #ffca36;
}
#blog .blog-slider .blog-item .blog-content{
    padding: 30px 20px;
    transform: translateY(-100%);
    opacity: 0;
    transition:all .5s linear;
}
#blog .blog-slider .slick-center .blog-item .blog-content{
    transform: translateY(-10%);
    opacity: 1;
}
#blog .blog-slider .blog-item .blog-content h4{
    font-size: 18px;
    font-weight: 400;
    color: #353535;
    text-transform:capitalize;
}
#blog .blog-slider .blog-item .blog-content ul li{
    text-align:center;
    margin:8px 10px 8px 0px;
}
#blog .blog-slider .blog-item .blog-content ul:first-child li{
    margin-left: 0;
}
#blog .blog-slider .blog-item .blog-content ul li a{
    color: #555;
}
#blog .blog-slider .blog-item .blog-content  .blog_text p{
    font-size: 14px;
    line-height: 24px;
    color: #555;
    padding: 15px 0;
    margin-bottom:0 ;
}
#blog .blog-slider .blog-item .blog-content  .blog_text .main_btn{
    margin-top: 30px;
}
#blog .blog-slider .blog-item .blog-content  .blog_text .main_btn a{
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    background-color: #ffca36;
    border: 1px solid transparent;
    padding: 15px 20px;
    margin: 30px 0 0 0;
    position: relative;
    transition: all .3s linear;
    z-index: 1;
}
#blog .blog-slider .blog-item .blog-content  .blog_text .main_btn:hover a{
    background-color: #f7f7f7;
    border-color: #ffca36;
    color: #ffca36;
}
/*Blog Section End */


/*Testimonial Section Start*/
#testimonal .testimonal-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
    position: relative;
}
#testimonal .testimonal-bg::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: -1;
}
#testimonal .testimonal-bg .client-feedback-slider{
    margin: 0 auto -16px;
    width: 50%;
    padding: 35px 0 0 0;
}
#testimonal .testimonal-bg .client-feedback-slider .client-feedback-content{
    text-align: center;
    z-index: 999;
    width: 100%;
}
#testimonal .testimonal-bg .client-feedback-slider .client-feedback-content p{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 0 0 10px;
    margin-bottom: 0;
}
#testimonal .testimonal-bg .client-feedback-slider .client-feedback-content .fdbck-name h4{
    font-size: 18px;;
    margin: 10px 0;
    color: #fff;
}
#testimonal .testimonal-bg .client-feedback-slider .client-feedback-content .fdbck-name  span{
    display: block;
    color: #fff;
}
#testimonal .testimonal-bg .client-feedback-slider .client-feedback-content .fdbck-name i{
    color: #ffca36;
    font-size: 14px;
}


#testimonal .testimonal-bg  .client-img-slider{
    margin: 10px auto 0;
    padding-left: 53px;
    width: 50%;
    padding: 30px;
}
#testimonal .testimonal-bg  .client-img-itme{
    height: 111px;
    text-align: center;
    padding: 20px;
    margin-top: -4px;
}
#testimonal .testimonal-bg  .client-img-itme.slick-center{
    transform: scale(1.2) translateY(-2px);
}
#testimonal .testimonal-bg  .client-img-itme .client-img{
    position: relative;
    background-color: #ddd;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    z-index: 1;
}
#testimonal .testimonal-bg  .client-img-itme .client-img::before{
    position: absolute;
    content: '';
    top: -5px;
    left: -5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #ffca36;
    opacity: 0;    
    transition: all .4s linear;
}
#testimonal .testimonal-bg  .client-img-itme.slick-center .client-img::before{
    opacity: 1;
}
#testimonal .testimonal-bg  .client-img-itme .client-img img{
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: .5;
}
#testimonal .testimonal-bg  .client-img-itme.slick-center .client-img img{
    opacity: 1;

}

/*Testimonial Section End*/

/*Brand Section Start*/
#brand{
 position:relative;
 padding: 50px 0;
 z-index: 1;
}
#brand .slider-arrow{
    position: absolute;
    content: '';
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #333;
    border: 1px solid #4c4c4c;
    z-index: 2;
    transition: all .4s ease-in-out;
}
#brand .slider-arrow:hover{
    color: #ffca36;
    border-color:#ffca36 ;
}
#brand .slider-arrow.slider-arrow-left{
    left: -30px;
    padding: 1px 5px;
}
#brand .slider-arrow.slider-arrow-right{
    right: 20px;
    padding: 1px 7px;
}
#brand .brand-slider .brand-cl{
    padding: 50px 15px;
}
#brand .brand-slider .brand-item{
    background-color: #f1f1f1;
    height: 110px;
    line-height: 110px;
    text-align: center;
    padding: 0 10px;
    margin: 10px   0 0 ;
    
}
#brand .brand-slider .slick-center .brand-item{
    box-shadow: 0px 1px 10px 4px #b8b8b8
}


#brand .brand-slider .brand-item img{
    display: inline-block;
}
/*Brand Section End*/

